html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;outline:none;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover,a:active,a:focus{text-decoration:none;outline:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";color:#666;outline:0;}
body{cursor:default;}
input::-ms-clear,input::-ms-reveal{display:none;}
a{color:#666;}
button{border:0;}
html,body{width:100%;height:auto;margin:0;padding:0;background:none;font-family:"Microsoft YaHei","微软雅黑";}
input{width:225px;height:30px;padding-left:0;color:#4c4c4c;border:none;font-size:16px;line-height:30px;*border:0;}
input:focus{border:none;outline:none;*border:0;*outline:0;}
a,a:active,a:hover,a:visited{text-decoration:none;}
.clearboth{clear:both;}
.f-cb{zoom:1;}
.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
input::-webkit-input-placeholder{font-weight:normal;color:#bdbdbd;}
input::-moz-placeholder{font-weight:normal;color:#bdbdbd;}
input.i-inpt:-ms-input-placeholder{font-weight:normal;color:#bdbdbd;}
input:-moz-placeholder{font-weight:normal;color:#bdbdbd;}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow:0 0 0 999px #fff inset;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
@-webkit-keyframes showAnimation{0%{opacity:0;-webkit-transform:scale3d(0.1,0.1,0.1);transform:scale3d(0.1,0.1,0.1);}
80%{opacity:1;-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05);}
}
.m-cover{position:fixed;left:0px;width:100%;height:100%;overflow:hidden;opacity:0.6;z-index:1000;top:0px;background:-webkit-radial-gradient(50% 50%,rgba(0,0,0,0.298039),#000 75%);}
body{background-color:#f1f1f1;}
*{font-family:"Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.g-hd{height:120px;}
.g-bd{position:relative;width:1000px;margin:0 auto;background-color:#fff;box-shadow:0 2px 2px #e5e5e5;padding-bottom:72px;}
.g-in{width:1000px;margin:0 auto;}
.f-dn{display:none !important;}
.f-fl{float:left;}
.f-fr{float:right;}
.spritebg{background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite2.png");background-position:1000px 1000px;}
.m-logo{background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;float:left;width:158px;height:28px;background-position:-10px -10px;margin-top:60px;}
.m-tr-block{color:#666;float:right;font-size:16px;margin-top:62px;}
.m-tr-block span{padding-left:26px;}
.m-tr-block i{display:inline-block;width:18px;height:18px;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-157px -44px;padding-right:2px;}
.m-tr-block a{margin-left:30px;text-decoration:none;color:#999;}
.m-tr-block a:hover{color:#4c4c4c;text-shadow:0 0 1px #bbb;}
.top_tlt{display:block;padding:36px 0;border-bottom:solid 1px #e8e8e8;text-align:center;font:500 20px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";color:#4c4c4c;text-shadow:0px 0px 1px #aaa;}
.bottom-tlt{margin-top:70px;display:block;height:60px;border-top:solid 2px #f6f6f6;text-align:center;font:14px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";line-height:60px;color:#999;}
.bottom-tlt a{color:#999;}
.bottom-tlt a:hover{color:#4c4c4c;}
.m-toast{top:199px;position:absolute;z-index:99;width:100%;height:auto;text-align:center;}
.m-toast .txt{display:inline-block;*display:inline;*zoom:1;height:auto;min-width:300px;max-width:600px;padding:14px 36px;color:#fff;font-size:13px;text-align:center;line-height:14px;background:#000;border-radius:21px;}
.u-load{background:url("../res/images/loading.gif") no-repeat 50% 50%;}
.u-load{display:block;position:fixed;z-index:1;width:100%;height:100%;pointer-events:none;}
.b-step{display:block;position:relative;height:82px;text-align:center;color:#999;}
.b-step .i-step{background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;display:inline-block;*display:inline;*zoom:1;top:63px;position:relative;height:8px;width:8px;background-position:-139px -50px;}
.b-step .i-step p{position:absolute;width:100px;left:-50px;top:-26px;font-size:14px;}
.b-step .i-step.light{color:#0095ff;background-position:-126px -50px;}
.b-step .i-line{display:inline-block;*display:inline;*zoom:1;position:relative;top:63px;height:1px;width:208px;background:#e8e8e8;margin-bottom:3px;*margin:4px 4px;}
.m-opr .u-tips,.m-opr .u-tips4{zoom:1;display:block;clear:both;}
.m-opr .u-tips:after,.m-opr .u-tips4:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .u-tips .tip-top,.m-opr .u-tips4 .tip-top{margin-bottom:12px;color:#4c4c4c;float:left;font-size:14px;padding-left:333px;}
.m-opr .u-tips .tip,.m-opr .u-tips4 .tip{margin-top:12px;color:#999;float:left;width:336px;font-size:12px;padding-left:333px;}
.m-opr .u-tips .tip strong,.m-opr .u-tips4 .tip strong{color:#4c4c4c;}
.m-opr .u-tips .tip a,.m-opr .u-tips4 .tip a{color:#4cb5ff;font-size:17px;}
.m-opr .u-tips2{zoom:1;display:block;padding-top:29px;clear:both;}
.m-opr .u-tips2:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .u-tips2 .tip-top{margin-bottom:6px;color:#4c4c4c;float:left;font-size:14px;padding-left:333px;}
.m-opr .u-tips2 .tip{margin-top:0px;color:#999;float:left;width:332px;font-size:14px;padding-left:333px;}
.m-opr .u-tips2 .tip strong{color:#4c4c4c;}
.m-opr .u-tips2 .tip a{color:#4cb5ff;}
.m-opr .u-tips3{zoom:1;display:block;padding-top:58px;clear:both;}
.m-opr .u-tips3:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .u-tips3 .tip-top{margin-bottom:6px;color:#4c4c4c;float:left;font-size:14px;padding-left:333px;}
.m-opr .u-tips3 .tip{margin-top:0px;color:#999;float:left;width:350px;font-size:14px;padding-left:333px;}
.m-opr .u-tips3 .tip strong{color:#4c4c4c;}
.m-opr .u-tips3 .tip a{color:#4cb5ff;}
.m-opr .u-tips4{padding-top:15px;}
.g-ft .m-cp{padding:31px 0;}
.g-ft .m-cp p,.g-ft .m-cp p a{color:#999;}
.g-ft .m-cp p{padding-bottom:13px;text-align:center;}
.g-ft .m-cp p a{padding:0 2px;}
.g-ft .m-cp p a:hover{color:#4c4c4c;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s;}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);}
10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px);}
}
@keyframes shake{0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px);}
20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px);}
}
.shake{-webkit-animation-name:shake;animation-name:shake;}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.m-opr{zoom:1;margin-top:23px;}
.m-opr:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .sub_tlt{display:block;text-align:center;margin:0 0 22px 0;font-size:14px;color:#999;padding-top:16px;}
.m-opr .sub_tlt strong{color:#4c4c4c;}
.m-opr .sub_tlt a{color:#4cb5ff;}
.m-opr .sub_tlt a:hover{color:#0095ff;}
.m-opr .sub_tlt p{text-align:center;}
.m-opr .sub_tlt_2{width:330px;margin:0 auto 9px;text-align:left;color:#4c4c4c;}
.m-opr .sub_tlt_2 strong{color:#4cb5ff;}
.m-opr .sub_tlt_3{text-align:left;width:331px;color:#666;margin:0 auto 12px;}
.m-opr .u-input,.m-opr .u-qselect{zoom:1;position:relative;clear:both;height:58px;width:100%;overflow:visible;}
.m-opr .u-input:after,.m-opr .u-qselect:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .u-input .country,.m-opr .u-qselect .country{position:absolute;left:334px;top:9px;height:38px;line-height:38px;width:30px;padding:0 10px;z-index:999;background-color:#fff;}
.m-opr .u-sub-a a{display:block;margin-top:3px;color:#999;text-decoration:underline;}
.m-opr .u-sub-a a:hover{color:#4c4c4c;}
.m-opr .u-btn{margin-top:14px;}
.m-opr .u-qselect{height:26px;margin:32px 0 4px;}
.m-opr .u-qselect .arrow{background:url("../res/images/sprite.png") -512px -110px no-repeat;width:30px;height:26px;top:0;position:absolute;right:0;}
.m-opr .u-qselect .qselectbox,.m-opr .u-qselect .qselectsug{width:330px;border:solid 1px #e5e5e5;font-size:14px;line-height:normal;color:#333;text-indent:0.5em;position:relative;}
.m-opr .u-qselect .qselectbox{height:26px;float:left;}
.m-opr .u-qselect .qselectsug{position:absolute;top:27px;left:333px;z-index:9999;background:#fff;}
.m-opr .u-qselect .qselectbox p,.m-opr .u-qselect .qselectsug a{line-height:26px;display:block;}
.m-opr .u-qselect .qselectsug a:hover{background:#efefef;}
.m-opr .u-input.sug{overflow:visible;z-index:1001;}
.m-opr .u-input.firstelem{overflow:visible;z-index:12;}
.m-opr .u-input.m-card{height:73px;text-align:center;}
.m-opr .u-input.m-card .popb{position:absolute;right:40px;top:0;}
.m-opr .u-input-select{overflow:visible;height:32px;margin-top:8px;}
.m-opr .u-input-select .u-label{height:32px;padding:0;margin:0;}
.m-opr .u-iptchange{margin-left:334px;float:left;height:22px;color:#4cb5ff;cursor:pointer;}
.m-opr .u-tlc{text-align:center;}
.m-opr .u-label{float:left;width:333px;text-align:right;margin-top:8px;font-size:16px;line-height:45px;color:#333;}
.m-opr .i-inpt{float:left;height:40px;width:330px;margin-top:8px;border:solid 1px #e5e5e5;font-size:14px;line-height:36px;color:#4c4c4c;text-indent:0.5em;}
.m-opr .js-placeholder-parent{float:left;}
.m-opr .js-placeholder{color:#bdbdbd;height:40px;font-size:14px;text-indent:0.5em;line-height:40px;margin-top:8px;}
.m-opr .u-tip{position:relative;float:left;width:38px;height:38px;margin-left:-42px;margin-top:9px;z-index:11;background:#fff;}
.m-opr .u-clear{position:absolute;width:20px;height:20px;left:10px;top:10px;cursor:pointer;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-72px -44px;opacity:0.7;}
.m-opr .u-clear:hover{opacity:1;}
.m-opr .u-clear1{position:absolute;width:20px;height:20px;left:10px;top:10px;cursor:pointer;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-99px -44px;opacity:0.7;}
.m-opr .u-clear1:hover{opacity:1;}
.m-opr .u-tip .u-eye{position:absolute;width:24px;height:13px;left:10px;top:10px;cursor:pointer;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-42px -46px;-webkit-user-select:none;user-select:none;}
.m-opr .u-tip .z-act{background-position:-10px -46px;}
.m-opr .i-inpt.smsize{width:190px;}
.m-opr .i-inpt:disabled{background:#fff;color:#999;}
.m-opr .err-clazz{border-color:#fa5b5b !important;}
.m-opr .act-clazz{border-color:#41a3e1 !important;box-shadow:1px 1px 1px 1px #d8ecf9,-1px -1px 1px 1px #d8ecf9;}
.m-opr .i-card{display:inline-block;*display:inline;*zoom:1;width:32px;border:solid 1px #e5e5e5;margin:0 18px;color:#999;background:#ccc;}
.m-opr .i-card .coord{display:block;height:29px;width:32px;font-size:14px;color:#fff;line-height:29px;text-align:center;}
.m-opr .i-card .coord.clr1{background:#a3c66c;}
.m-opr .i-card .coord.clr2{background:#c64e41;}
.m-opr .i-card .coord.clr3{background:#467ec3;}
.m-opr .i-card .c-ipt{display:block;width:100%;height:32px;font-size:14px;color:#4c4c4c;line-height:29px;text-align:center;}
.m-opr .m-sug{position:absolute;z-index:990;top:49px;left:333px;*left:0;width:330px;overflow:hidden;border:solid 1px #ccc;background-color:#f5f5f5;font-size:14px;}
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){.m-opr .m-sug{left:340px;}
}
.m-opr .m-sug .js-selected{background-color:#c4dcec;color:#fff;}
.m-opr .w-ipt{width:260px;outline:none;}
.m-opr .m-sug .itm{height:30px;line-height:30px;cursor:pointer;padding-left:6px;text-indent:0.5em;}
.m-opr .popb{float:left;margin-left:10px;width:290px;height:58px;max-height:60px;overflow:hidden;font-size:12px;}
.m-opr .popb .b-i{height:58px;width:21px;}
.m-opr .popb i{background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;float:left;width:18px;height:20px;padding:0 5px 0 0;background-position:1000px 1000px;}
.m-opr .popb .b-p{overflow:hidden;line-height:20px;word-break:break-all;text-align:left;}
.m-opr .popb strong{color:#4cb5ff;padding:0 3px;}
.m-opr .popb.err{color:#fa5b5b;-webkit-animation:shake 1s;-moz-animation:shake 1s;-ms-animation:shake 1s;-o-animation:shake 1s;animation:shake 1s;}
.m-opr .popb.err i{background-position:-98px -44px;}
.m-opr .popb.err a,.m-opr .popb.err a:hover{color:#4cb5ff;}
.m-opr .u-qselect .popb.err{height:30px;}
.m-opr .u-qselect .popb .b-i{height:30px;width:21px;}
.m-opr .u-qselect .popb.succ i{margin-top:7px;background-position:-388px -119px;}
.m-opr .popb.warn{color:#f4950e;-webkit-animation:shake 1s;-moz-animation:shake 1s;-ms-animation:shake 1s;-o-animation:shake 1s;animation:shake 1s;}
.m-opr .popb.warn i{background-position:-329px -119px;}
.m-opr .popb.pwd i{margin-top:22px;padding:0;margin-right:6px;width:22px;height:11px;background-position:-186px -19px;}
.m-opr .popb.pwd p{display:none;float:left;margin:20px 0 0 6px;}
.m-opr .popb.pwd.lv1{color:#ee8484;}
.m-opr .popb.pwd.lv1 .lv-i1{background-position:-210px -19px;}
.m-opr .popb.pwd.lv1 .lv-p1{display:block;}
.m-opr .popb.pwd.lv1 span{padding-left:15px;color:#999;}
.m-opr .popb.pwd.lv2{color:#ecd66d;}
.m-opr .popb.pwd.lv2 .lv-i2{background-position:-235px -19px;}
.m-opr .popb.pwd.lv2 .lv-p2{display:block;}
.m-opr .popb.pwd.lv2 span{padding-left:15px;color:#999;}
.m-opr .popb.pwd.lv3{color:#c5e066;}
.m-opr .popb.pwd.lv3 .lv-i3{background-position:-259px -19px;}
.m-opr .popb.pwd.lv3 .lv-p3{display:block;}
.m-opr .popb.pwd.lv3 span{padding-left:15px;color:#999;}
.m-opr .ps-lv{margin-left:323px;}
.m-opr .ps-lv .popb{height:45px;}
.m-opr .ps-lv .popb p{font-size:14px;}
.m-opr .b-btn{display:block;float:left;border:0;width:332px;height:42px;margin-top:8px;text-align:center;font-size:14px;color:#fff;line-height:42px;cursor:pointer;}
.m-opr .btn-blue{background:#41a3e1;}
.m-opr .btn-blue:hover{background:#4cbafe;}
.m-opr .btn-blue:active{background:#3a91c7;}
.m-opr .btn-blue-diz{color:#8dc3ff;cursor:default;}
.m-opr .btn-blue-diz:hover{background:#41a3e1;}
.m-opr .btn-blue-diz:active{background:#41a3e1;}
.m-opr .i-vcode{float:left;height:40px;width:128px;margin:8px 0 0 10px;background:#eee;overflow:hidden;border:solid 1px #e5e5e5;}
.m-opr .i-vcode img{width:100%;height:100%;text-align:center;line-height:40px;color:#999;}
.m-opr .i-vcode:hover{cursor:pointer;}
.m-opr .btn-getsms{float:left;height:40px;width:128px;font-size:14px;line-height:40px;margin:8px 0 0 10px;color:#4cb5ff;background:#fff;text-align:center;border:solid 1px #e5e5e5;}
.m-opr .btn-getsms:hover{color:#80caff;}
.m-opr .btn-getsms-loading{float:left;height:40px;width:128px;font-size:14px;margin:8px 0 0 10px;line-height:40px;color:#b2b2b2;background:#fff;text-align:center;opacity:0.99;border:solid 1px #e5e5e5;}
.m-opr .b-btn-diz,.m-opr .b-btn-diz:hover{background:#ccc;color:#fff;cursor:default;}
.m-opr .b-loading{position:relative;float:left;z-index:4;top:0;left:-332px;width:332px;height:42px;margin-top:8px;background:#41a3e1;opacity:0.7;filter:alpha(opacity = 70);}
.m-opr .b-loading img{display:block;width:30px;height:30px;margin:0 auto;margin-top:7px;}
.b-channel{display:block;position:relative;min-width:500px;padding:82px 0 88px 0;text-align:center;}
.b-channel .tlt{font-size:12px;color:#999;}
.b-channel .i-channel{display:inline-block;*display:inline;*zoom:1;padding-top:37px;color:#999;width:200px;}
.b-channel .i-channel i{background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;display:block;width:74px;height:74px;margin:0 auto;}
.b-channel .i-channel p{display:block;width:170px;margin:0 auto;line-height:20px;font-size:12px;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.b-channel .i-channel p.tlt{padding-top:19px;padding-bottom:7px;font-size:14px;font-weight:bold;color:#4c4c4c;}
.b-channel .i-channel.safe-email i{background-position:-8px -75px;}
.b-channel .i-channel.safe-email p{width:200px;}
.b-channel .i-channel.appeal{width:160px;}
.b-channel .i-channel.appeal i{background-position:-94px -75px;}
.b-channel .i-channel.pwd{width:165px;}
.b-channel .i-channel.pwd i{background-position:-179px -75px;}
.b-channel .i-channel.pwd p{width:110px;}
.b-channel .i-channel.chg-mobile i{background-position:-266px -75px;}
.b-channel .i-channel.mobile i{background-position:-353px -75px;}
.m-opr .m-succ,.m-opr .m-error,.m-opr .m-warn,.m-opr .m-info,.m-opr .m-people,.m-opr .m-process{padding:26px 0 30px 324px;zoom:1;}
.m-opr .m-succ:after,.m-opr .m-error:after,.m-opr .m-warn:after,.m-opr .m-info:after,.m-opr .m-people:after,.m-opr .m-process:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-opr .m-succ .i-img,.m-opr .m-error .i-img,.m-opr .m-warn .i-img,.m-opr .m-info .i-img,.m-opr .m-people .i-img,.m-opr .m-process .i-img{float:left;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;width:73px;height:73px;}
.m-opr .m-succ .note,.m-opr .m-error .note,.m-opr .m-warn .note,.m-opr .m-info .note,.m-opr .m-people .note,.m-opr .m-process .note{float:left;color:#999;padding-top:11px;padding-left:15px;}
.m-opr .m-succ .note h3,.m-opr .m-error .note h3,.m-opr .m-warn .note h3,.m-opr .m-info .note h3,.m-opr .m-people .note h3,.m-opr .m-process .note h3{font-size:18px;line-height:18px;color:#4c4c4c;padding-bottom:6px;padding-top:5px;}
.m-opr .m-succ .note p,.m-opr .m-error .note p,.m-opr .m-warn .note p,.m-opr .m-info .note p,.m-opr .m-people .note p,.m-opr .m-process .note p{line-height:20px;}
.m-opr .m-succ .note strong,.m-opr .m-error .note strong,.m-opr .m-warn .note strong,.m-opr .m-info .note strong,.m-opr .m-people .note strong,.m-opr .m-process .note strong{color:#4cb5ff;}
.m-opr .m-succ .note .n-tip,.m-opr .m-error .note .n-tip,.m-opr .m-warn .note .n-tip,.m-opr .m-info .note .n-tip,.m-opr .m-people .note .n-tip,.m-opr .m-process .note .n-tip{margin-top:61px;}
.m-opr .m-succ .u-bak,.m-opr .m-error .u-bak,.m-opr .m-warn .u-bak,.m-opr .m-info .u-bak,.m-opr .m-people .u-bak,.m-opr .m-process .u-bak{clear:both;padding-left:88px;padding-top:37px;}
.m-opr .m-succ .b-btn-s,.m-opr .m-error .b-btn-s,.m-opr .m-warn .b-btn-s,.m-opr .m-info .b-btn-s,.m-opr .m-people .b-btn-s,.m-opr .m-process .b-btn-s{float:left;margin-right:32px;width:109px;height:41px;color:#b2b2b2;background:#fff;text-align:center;border:solid 1px #e5e5e5;line-height:41px;}
.m-opr .m-succ .i-img{background-position:-7px -160px;}
.m-opr .m-succ .n-lock{float:left;color:#999;padding-left:15px;}
.m-opr .m-succ .n-lock .c-tlt{display:inline-block;font-size:18px;line-height:18px;color:#4c4c4c;padding-bottom:12px;padding-top:6px;padding-right:16px;}
.m-opr .m-succ .n-lock a{display:inline-block;font-size:18px;color:#4cb5ff;padding-left:18px;}
.m-opr .m-succ .n-lock p{font-size:14px;}
.m-opr .m-warn .i-img{background-position:-178px -160px;}
.m-opr .m-warn .note p{font-size:14px;}
.m-opr .m-warn .b-btn-w{float:left;width:96px;height:38px;line-height:38px;color:#b2b2b2;background:#fff;text-align:center;border:1px solid #e5e5e5;margin-right:40px;}
.m-opr .m-error .i-img{background-position:-93px -160px;}
.m-opr .m-error .note .n-tip2{display:block;margin-top:30px;}
.m-opr .m-error .note .n-tip2 p{font-size:16px;line-height:28px;}
.m-opr .m-error .note p{font-size:14px;}
.m-opr .m-error .u-bak{padding-top:28px;}
.m-opr .m-info{padding-bottom:0;}
.m-opr .m-info .i-img{background-position:-267px -160px;}
.m-opr .m-info .note .n-tip2{display:block;margin-top:38px;}
.m-opr .m-info .note .n-tip2 p{font-size:16px;line-height:28px;}
.m-opr .m-info .u-bak{padding-top:26px;}
.m-opr .m-people .i-img{background-position:-356px -160px;}
.m-opr .m-process .i-img{background-position:-444px -160px;}
.idf-tlt i,.pop-tlt i{display:inline-block;float:right;width:18px;height:18px;margin:19px 19px 0 0;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-185px -44px;cursor:pointer;-webkit-transition:transform 1s;-moz-transition:transform 1s;-ms-transition:transform 1s;-o-transition:transform 1s;transition:transform 1s;}
.idf-tlt i:hover,.pop-tlt i:hover{transform:rotate(360deg);}
.m-identify{width:400px;height:290px;position:fixed;z-index:1010;left:50%;top:50%;margin-top:-145px;margin-left:-200px;border:solid 1px #ccc;border-radius:3px;background-color:#fcfcfc;}
.m-identify .idf-tlt{heigth:56px;border-bottom:solid 1px #ccc;padding-left:19px;}
.m-identify .idf-tlt h4{display:inline-block;font:15px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";font-weight:bold;line-height:56px;color:#333;}
.m-identify .idf-bd{padding:24px 0 0 58px;}
.m-identify .idf-bd p{font-size:14px;line-height:30px;}
.m-identify .idf-bd .b-btn{display:inline-block;width:122px;height:35px;text-align:center;line-height:35px;margin-right:20px;border:1px solid #e5e5e5;font-size:12px;margin-top:25px;cursor:pointer;}
.m-identify .idf-bd .b-white{color:#666;}
.m-identify .idf-bd .b-blue{background-color:#41a3e1;color:#fff;}
.m-identify .idf-bd strong{font-weight:bold;}
.m-mask{width:100%;height:100%;position:fixed;top:0;left:0;z-index:99;background-color:rgba(50,50,50,0.75);}
.m-mask .m-pop{width:440px;height:290px;position:relative;margin:0 auto;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);-moz-transform:translate(0,-50%);border:solid 1px #e5e5e5;border-radius:3px;background-color:#fcfcfc;}
.m-mask .m-pop .pop-tlt{heigth:55px;border-bottom:solid 1px #e5e5e5;padding-left:19px;}
.m-mask .m-pop .pop-tlt h4{display:inline-block;font:14px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";font-weight:bold;line-height:56px;}
.m-mask .m-pop .pop-bd{width:440px;text-align:center;}
.m-mask .m-pop .pop-bd .pop-content{width:346px;margin:0 auto;margin-top:36px;text-align:justify;}
.m-mask .m-pop .pop-bd .pop-content i{display:inline-block;width:21px;height:21px;position:relative;top:7px;background:url("../res/images/sprite1.png") no-repeat;_background-image:url("../res/images/sprite1.png");background-position:1000px 1000px;background-position:-209px -45px;}
.m-mask .m-pop .pop-bd .pop-content p{display:inline;font-size:14px;line-height:22px;}
.m-mask .m-pop .pop-bd .pop-btn{display:inline-block;margin-top:40px;}
.m-mask .m-pop .pop-bd .pop-btn .b-btn{display:inline-block;width:122px;height:35px;text-align:center;line-height:35px;border:1px solid #e5e5e5;font-size:12px;}
.m-mask .m-pop .pop-bd .pop-btn .b-white{color:#666;margin-left:18px;}
.m-mask .m-pop .pop-bd .pop-btn .b-blue{background-color:#41a3e1;color:#fff;}
.m-mask .m-pop .pop-bd .i-mob-p{padding-top:35px;width:151px;height:151px;}
.changephone-offl-s2 .sub_tlt{margin:0;padding-top:6px;color:#4c4c4c;}
.changephone-offl-s2 .b-channel{padding:2px 0 3px;}
.changephone-offl-s2 .b-channel .tlt{display:none;}
.changephone-offl-s2 .b-channel .i-channel .tlt{display:block;padding:16px 0 7px 0;}
.changephone-offl-s3{margin-bottom:8px;}
.changephone-offl-s3 .m-succ{padding-top:20px;padding-bottom:0;}
.changephone-offl-s3 .m-succ .note{padding-top:9px;}
.changephone-offl-s3 .m-succ .note h3{padding-bottom:8px;}
.changephone-offl-s3 .m-succ .note p{font-size:14px;}
.changephone-offl-s3 .m-succ .b-btn{margin-top:2px;height:41px;line-height:41px;font-size:15px;}
.changephone-offl-s4 #bind-phone-form{padding-top:21px;}
.changephone-offl-success .m-succ{padding-top:35px;padding-bottom:25px;}
.changephone-offl-success .m-succ .note{padding-bottom:10px;}
.changephone-offl-success .m-succ .u-bak{padding-top:6px;}
.changephone-offl-error .m-error{padding-top:35px;padding-bottom:25px;}
.changephone-offl-error .m-error .note{padding-bottom:10px;}
.changephone-offl-error .m-error .u-bak{padding-top:6px;}
.changephone-onl-s1 .sub_tlt_2{font-size:15px;padding-top:19px;}
.changephone-onl-s1 .b-channel{padding-bottom:15px;}
.changephone-onl-s2 #bind-phone-form{padding:14px 0 24px 0;}
.retrievepwd-success .m-succ{padding-top:21px;padding-bottom:46px;}
.retrievepwd-success .m-succ .u-bak{padding-top:0px;}
.retrievepwd-success .m-succ .note{padding-top:21px;}
.setpwd-s1 .m-opr{margin-bottom:34px;}
.setpwd-s1 .m-opr .sub_tlt{padding-top:7px;}
.setsmail-s1 .m-opr{margin-bottom:34px;}
.setsmail-s1 .m-opr .sub_tlt{padding-top:7px;}
.setsmail-s2{padding-bottom:89px;}
.setsmail-s2 .m-opr .sub_tlt_2{font-size:16px;padding-top:19px;margin-bottom:8px;}
.setsmail-s2 .m-opr .u-tips .tip{margin-top:7px;}
.setsmail-s3 .m-succ{padding-top:32px;padding-bottom:29px;}
.setsmail-s3 .m-succ .u-bak{padding-top:9px;}
.setsmail-s3 .m-succ .note{padding-top:6px;}
.setsmail-s3 .m-succ .note p{font-size:14px;}
.realinfo-s1{padding-bottom:106px;}
.realinfo-s2{padding-bottom:90px;}
.realinfo-s2 .m-opr .m-succ{padding-top:7px;padding-bottom:47px;}
.realinfo-s2 .m-opr .m-succ .note{padding-top:6px;}
.realinfo-s2 .m-opr .m-succ .note h3{padding-bottom:6px;padding-top:5px;}
.realinfo-s2 .m-opr .m-succ .u-bak{padding-top:37px;}
.acclock-s1{padding-bottom:82px;}
.acclock-s1 .m-opr{margin-top:37px;}
.acclock-s2{padding-bottom:83px;}
.acclock-s2 .sub_tlt{margin:0 auto;color:#4c4c4c;}
.acclock-s2 .b-channel{padding:2px 0 3px;}
.acclock-s2 .b-channel .tlt{display:none;}
.acclock-s2 .b-channel .i-channel .tlt{display:block;padding:16px 0 7px 0;}
.acclock-s3{margin-bottom:8px;padding-bottom:108px;}
.acclock-s3 .m-succ{padding-top:33px;padding-bottom:0;}
.acclock-s3 .m-succ .note{padding-top:12px;}
.acclock-s3 .m-succ .note h3{padding-bottom:8px;}
.acclock-s3 .m-succ .note p{font-size:15px;}
.acclock-s3 .m-succ .u-bak{padding-top:46px;}
.acclock-s3 .m-succ .b-btn{margin-top:2px;height:41px;line-height:41px;font-size:15px;}
.freezeappeal-s1{padding-bottom:82px;}
.freezeappeal-s1 .m-opr{margin-top:37px;}
.freezeappeal-s2{padding-bottom:0px;}
.freezeappeal-s2 .sub_tlt{margin:0 auto;color:#4c4c4c;}
.freezeappeal-s2 .b-channel{padding:2px 0 3px;}
.freezeappeal-s2 .b-channel .tlt{display:none;}
.freezeappeal-s2 .b-channel .i-channel .tlt{display:block;padding:16px 0 7px 0;}
.freezeappeal-s2 .opr2{padding-bottom:116px;}
.freezeappeal-s2 .opr2 .sub_tlt{padding:26px 0 10px 0;}
.freezeappeal-s3{margin-bottom:8px;padding-bottom:108px;}
.freezeappeal-s3 .m-succ{padding-top:33px;padding-bottom:0;}
.freezeappeal-s3 .m-succ .note{padding-top:12px;}
.freezeappeal-s3 .m-succ .note h3{padding-bottom:8px;}
.freezeappeal-s3 .m-succ .note p{font-size:15px;}
.freezeappeal-s3 .m-succ .note .n-tip{margin-top:28px;}
.freezeappeal-s3 .m-succ .u-bak{padding-top:46px;}
.freezeappeal-s3 .m-succ .b-btn{margin-top:2px;height:41px;line-height:41px;font-size:15px;}
