extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 分类名
            th 修改
            th 删除
        tbody
          each item in categories
            tr(class="item-id-#{item._id}")
              td #{item.name}
              td: a(target="_blank", href="/admin/movie/category/update/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
  script(src='/js/category.js')